body {
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    box-sizing: border-box;

}

button {
  background-color: #FFFEDA; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
button:hover{
  background-color: lightskyblue;
}

.logo{
  position: absolute;
  padding-left: 80px;
  padding-top: 40px;
}

.firstElement ul {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
    position: fixed;
    top: 40px;
    right: 100px;
    width: 100%;
    z-index: 999;


}

.firstElement{
    background-image: url('./media/finalwaves.png');
    background-size:100% 100%;
    display: block;
    height: 900px;
}

.firstElement li {
    float: right;
}

.firstElement li a {
    text-decoration: none;
    margin-right: 30px;
    color: white;

}

.firstElement li a span {
  background-color: black;

}

.active span{
  text-decoration: underline;
}

.firstElementGrid {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px;
    text-align: left;
    margin-left: 15%;
    padding-top: 200px;
  }
@media only screen and (max-width: 900px) {
  .firstElementGrid{
    grid-template-columns: 100%;
  }
}

.firstElementGrid object{
    height: 400px;
    float: right;
    margin-right: 100px;
    transition: transform .5s ease;
}
.firstElementGrid object:hover{

  transform: scale(1.05);
}

.firstElementGrid h1{
    font-size: 50px;
    color: rgb(20, 89, 201);
}

.secondElementGrid{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px;
    text-align: left;
    margin:60px;
    background-color: rgb(20, 89, 201);
    color: white;
    transition: transform .5s ease;

}

.secondElementGrid:hover{

  transform: scale(1.02);
}

@media only screen and (max-width: 750px) {
  .secondElementGrid{
    display: grid;
    grid-template-columns: 100%;

  }
}

.secondElementGrid div{
    margin: 30px;
}

.secondElementGrid div img{
    width: 60%;
}

.secondElementGrid p{
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
}

.secondElementGridTagline{
  font-size: 60px;
  font-family: 'DM Serif Display', serif;
}
@media only screen and (max-width: 900px) {
  .secondElementGridTagline{
    font-size: 40px;
  }
}

.thirdElemtGrid{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0;
    text-align: left;
    margin:0;
    border: 10px;
    overflow: hidden;

}

@media only screen and (max-width: 750px) {
  .thirdElemtGrid{
    display: grid;
    grid-template-columns: 100%;

  }
}
.thirdElemtGridHalf img{
    width: 100%;
    margin:0px;
    position: relative;
    text-align: center;
    color: white;
    z-index: 10;
    transition: transform .5s ease;
}

.thirdElemtGridHalf img:hover{
  transform: scale(1.05);

}

.thirdElemtGridFourth{
    margin:0px;
    padding: 0px;

}
.thirdElemtGridFourth img{
    width: 100%;
    padding: 0;
    margin: 0;

}



.thirdElementGridFourthImageOverlay{
    height: 40px;
    margin-top:-40px;
    padding-left: 40px;
    visibility: hidden;
    z-index: 5;
}



.secondElementGridImg{
  width: 100%;
  height: 100%;

}
.secondElementGridImg img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: transform .5s ease;
  overflow: auto;
}

.secondElementGridImg img:hover{  
  transform: scale(1.05);
}




.fourthElement{
  background-color: #FFFEDA;
  padding: 100px;
  text-align: center;
}


.fourthElementGrid{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  text-align: center;
  opacity: 0.8;
}

.fourthElementContainerCompany{
  height: 60px;
  margin: 0;
  top: 50%;
  transition: transform .5s ease;
}

@media only screen and (max-width: 1100px) {
  .fourthElementContainerCompany{
    height: 40px;
  }
}

@media only screen and (max-width: 750px) {
  .fourthElementContainerCompany{
    height: 30px;
  }
}

@media only screen and (max-width: 650px) {

  .fourthElementGrid{
    display: grid;
    grid-template-columns: 100%;
  }
  .fourthElementContainerCompany{
    height: 70px;
    margin-top: 15px;
  }
}

.fourthElementContainerCompany:hover{
  transform: scale(1.3);

}

.fourthElementContainerProfile img{
  height: 200px;;
  border-radius: 50%;
  width: 200px;
}
.fourthElementContainerProfile h3 {
  height: 40px;
}

.fourthElementContainerProfile {
  margin:7px;
}


.fourthElementGridProfile{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  text-align: center;
}

@media only screen and (max-width: 1100px) {
  .fourthElementGridProfile{
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

@media only screen and (max-width: 700px) {
  .fourthElementGridProfile{
    display: grid;
    grid-template-columns: 100%;
  }
}
